.layout {
  padding: 0px;
  margin: 0px;
  display: flex;
  height: 100%;

  .left-content {
    width: 15%;
    height: auto;
    background: #ffffff;
  }

  .right-content {
    width: 85%;
    height: auto;
    background: #f7f7fa;

    .chilred {
      margin-top: 140px;
      height: 100%;
    }
  }
}
