.layout {
  padding: 0px;
  margin: 0px;
  display: flex;
  min-height: 100vh;

  .left-content {
    width: 10%;
    height: auto;
    background: #ffffff;
  }

  .right-content {
    width: 90%;
    height: auto;
    background: #f7f7fa;

    .chilred {
      margin-top: 60px;
    }
  }
}